@charset "utf-8";
/* CSS Document */

.global-nav{
	position:relative;
	background:#ffffff;
}
.global-nav .navbar-default{	
	border-color: #ffffff;
}
.navbar-self{
	margin-left:auto;
	margin-right:auto;
	background:#ffffff;
}
.navbar-brand{
    height: 54px;
    width: 188px;
    background-image:url(../img/logo.png);
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;	
}
.header-down{
	background-color:#005f3c;
	height:34px;	
	margin-top: -20px;
}
.nav-tags{
	height:34px;
}
.nav-tags li{
    line-height:34px;
    color: #9dccb6;
	margin:0 5px;
}
.nav-tags li:first-child{
	margin-right:0;
}
.nav-tags .split{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}
.main-tabs{
	font-weight: 700;
	margin-top:25px;	
}
.main-tabs>ul>li{
	margin-right: 50px;	
}
.main-tabs>ul>li>a{
	color:#333;
	padding-top: 0;
    padding-bottom: 10px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #009a61;
}
.top-three li a：hover{
	background-color: #fff; 
}





















